
/* Linear Gradient Background Animation */
.gradient-background {
  background: linear-gradient(42deg, #ff9000, #6d53f3, #d6ccfe);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 23s ease infinite;
  -o-animation: AnimationName 23s ease infinite;
  animation: AnimationName 23s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}
@keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}

/* Scroll Bar */
.custom-scrollbar {
  padding: 5px 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC;
}
